
*{
    font-family: 'Open Sans', sans-serif;

}

.grid-container {
    display: grid;
    grid-gap: 1px;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.8);
}
 


.menu{
    grid-column: 1;
    grid-row: 1;
    border: solid gray;
    height: 1000px;
}

.menu li a {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

.header-img{
    grid-column: 2/span 5;
    grid-row: 1;
    border: solid gray;
    height: 1000px;
}



img{
    width: 100%;
    height: 100%;
}

li  {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    color: black;
}
.gridgrid{
    display: grid;
    grid-template-columns: auto auto;
}

#cojest{
    transition: 1s;
}

#codaje{
transition: 1s;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
  
.item2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.img2 {
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-gap: 10px;
}

.item3 {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.item4 {
    grid-column: 4;
    grid-row: 1;
}

.item5 {
    grid-column: 1;
    grid-row: 1;
}

.item6 {
    grid-column: 2 / span 2;
    grid-row: 2;
}

.item7 {
    grid-column: 2/span 3;
    grid-row: 2;
}

.item8 {
    grid-column: 2;
    grid-row: 3;
}

.item12 {
    grid-column: 2 / span 2;
    grid-row: 4;
}


.border{
    border: 2px solid black;
}


.grid-item {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}